<% if @posts.any? %>
  <% @posts.each do |post| %>
      <% if post.image.present? %>
      <p><%= image_tag post.image.url(:thumb), class: 'uploaded-pic' %></p>
      <% end %> 
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'New post', new_post_path %>