<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.description %>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'New post', new_post_path %>